<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="card">
    <h2 class='card-header'>log difference</h2>
    <dmap-databar [data]="data" [dmap]="dmap1"></dmap-databar>
  </div>
  <hr/>
  <div class="card">
      <h2 class='card-header'>L2 difference</h2>
    <dmap-databar [data]="data" [dmap]="dmap2"></dmap-databar>
  </div>
  <hr/>
  <div class="card">
      <h2 class='card-header'>Variance</h2>
    <dmap-databar [data]="data" [dmap]="dmap3"></dmap-databar>
  </div>
</div>
<router-outlet></router-outlet>
